.main-title {
  position: relative;
}

.main-title__title,
.main-title__info {
  position: absolute; /* Positionierung relativ zum .main-title-Container */
  top: 50%; /* Oben um 50% des Containerhöhe verschieben */
  left: 50%; /* Links um 50% des Containerbreite verschieben */
  transform: translate(-50%, -50%); /* Korrektur der Verschiebung, um den Text zu zentrieren */
  text-align: center; /* Zentriert den Text innerhalb des Containers */
  color: white; /* Textfarbe anpassen, falls nötig */
  z-index: 1; /* Stellt sicher, dass der Text über dem Bild liegt */
}

.main-title__image{
  width: 100%;
  height: 75vh;
  object-fit: cover; /* Zoomt das Bild, um es vollständig zu bedecken */
  object-position: center; /* Zentriert das Bild innerhalb des Containers */
}

.main-title__image img {
}

.zum-shop {
  background: #1A1A1A;
  color: white;
}
