.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5rem 5rem;
    z-index: 1;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    height: 1.5rem;
    /* width: 20px; */
    display: inline-block;
}

.main-nav {
text-align: right;
width: 1440px;
height: 25px;
top: 20px;
left: 20px;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 1rem;
}

.main-nav__item a {
    /*text-decoration: none;*/
    padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {

}

.main-header__brand img {
width: 1.2rem;
height: 1.2rem;
}